<!-- begin header -->
<header class="header" data-scroll-trigger data-duration-anim=".7" data-delay-anim="0.000001" data-anim-group>
	<div class="header__inner" data-anim="from-top">
		<!-- begin logo -->
		<a href="#" class="header__logo logo">
			<img src="./img/logo.svg" alt="logo">
		</a>
		<!-- end logo -->
		<div class="header__wrap">
			<!-- begin nav -->
			<nav class="header__nav nav">
				<ul class="nav__list">
					<li>
						<a href="#" class="is-active">EXCHANGE</a>
					</li>
					<li>
						<a href="#">STE BANK</a>
					</li>
					<li>
						<a href="#">AFFILIATE</a>
					</li>
					<li>
						<a href="#">ABOUT</a>
					</li>
				</ul>
			</nav>
			<!-- end nav -->
			<div class="header__right">
				<a href="#" class="btn btn_sm btn_bord">LOGIN</a>
				<a href="#" class="btn btn_sm">REGISTER</a>
				<!-- begin lang -->
				<div class="lang">
					<div class="lang__current">
						<img src="./img/flags/ru.png" alt="flag">
						Russian
					</div>
					<div class="lang__list">
						<li>
							<a href="#">
								<img src="./img/flags/ru.png" alt="flag">
								Russian
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./img/flags/ru.png" alt="flag">
								Russian
							</a>
						</li>
					</div>
				</div>
				<!-- end lang -->
			</div>
		</div>
	</div>
</header>
<!-- end header -->