<!-- begin section-about -->
<div class="section section_about">
	<div class="section__inner inner">
		<div class="section__row" data-scroll-trigger="150" data-duration-anim="0.9" data-delay-anim="0.00011" data-anim-group="0.5">
			<div class="section__img section__img_center">
				<img src="./img/trading.svg" alt="img" data-anim="fade">
			</div>
			<div class="section__content section__content_pt0">
				<div class="section__wrap" data-anim="from-bottom">
					<h2 class="title"><span class="color-blue">Streamex</span> - cryptocurrency trading platform for crypto experts and novices.</h2>
					<div class="description">We have designed and built a streamlined <br>cryptocurrency exchange platform for both crypto newcomers and experts alike.</div>
					<p>Easily make deposits and conversions between cryptocurrencies with just a few clicks or perform more complex market trades.</p>
					<a href="#" class="btn btn_shad">LEARN MORE</a>
				</div>
			</div>
		</div>
		<div class="section__row" data-scroll-trigger="150" data-duration-anim="0.9" data-delay-anim="0.00011" data-anim-group="0.5">
			<div class="section__content">
				<div class="section__wrap" data-anim="from-bottom">
					<h2 class="title"><span class="color-blue">Crypto Investing</span> for everyone - Up to 15% annual interest</h2>
					<div class="description">You’re not a professional trader? No worries!</div>
					<p>You can profit on your crypto just by holding STE tokens <br>in your account balance. No locking of your funds and you choose when and how you want to collect your profits.</p>
					<a href="#" class="btn btn_shad">LEARN MORE</a>
				</div>
			</div>
			<div class="section__img section__img_shad section__img_fixw">
				<img src="./img/investing.png" alt="img" data-anim="fade">
			</div>
		</div>
	</div>
</div>
<!-- end section-about -->