<!-- begin together -->
<div class="together text-center">
	<div data-scroll-trigger="150" data-duration-anim="1.2" data-delay-anim="0.00011" data-anim-group="0.5">
		<div class="together-left-circle" data-anim="fade">
			<img src="./img/together-left-circle.svg" alt="together-left-circle">
		</div>
		<div class="together-right-circle" data-anim="fade">
			<img src="./img/together-right-circle.svg" alt="together-right-circle">
		</div>
	</div>
	<div class="together__inner inner" data-scroll-trigger="150" data-duration-anim="1.2" data-delay-anim="0.00011" data-anim-group="0.5" data-scroll-name="counter">
		<h3 class="together__title title" data-anim="from-bottom"><span class="color-blue">Exchange better.</span> Faster. Together.</h3>
		<div class="together__row" data-anim="from-bottom">
			<div class="together__col col col-4 js-count-parent" data-count-duration="5">
				<div class="together__icon">
					<img src="./img/pie-chart.svg" alt="img">
				</div>
				<div class="together__numb" data-count-value="20"><span class="js-count-container"></span>K+</div>
				<p>Daily trading Volume </p>
			</div>
			<div class="together__col col col-4 js-count-parent" data-count-duration="5">
				<div class="together__icon">
					<img src="./img/piggy-bank.svg" alt="img">
				</div>
				<div class="together__numb" data-count-value="290"><span class="js-count-container"></span>K+</div>
				<p>Tokens Stored</p>
			</div>
			<div class="together__col col col-4 js-count-parent" data-count-duration="5">
				<div class="together__icon">
					<img src="./img/smile.svg" alt="img">
				</div>
				<div class="together__numb" data-count-value="100"><span class="js-count-container"></span>K+</div>
				<p>Happy users</p>
			</div>
		</div>
	</div>
</div>
<!-- end together -->