<!-- begin together -->
<div class="together text-center">
	<div class="together__inner inner" data-scroll-trigger="150" data-duration-anim="1.2" data-delay-anim="0.00011" data-anim-group="0.5">
		<h3 class="together__title title" data-anim="from-bottom"><span class="color-blue">Exchange better.</span> Faster. Together.</h3>
		<div class="together__row" data-anim="from-bottom">
			<div class="together__col col col-4">
				<div class="together__icon">
					<img src="./img/pie-chart.svg" alt="img">
				</div>
				<div class="together__numb">20K+</div>
				<p>Daily trading Volume </p>
			</div>
			<div class="together__col col col-4">
				<div class="together__icon">
					<img src="./img/piggy-bank.svg" alt="img">
				</div>
				<div class="together__numb">290K+</div>
				<p>Tokens Stored</p>
			</div>
			<div class="together__col col col-4">
				<div class="together__icon">
					<img src="./img/smile.svg" alt="img">
				</div>
				<div class="together__numb">100K+</div>
				<p>Happy users</p>
			</div>
		</div>
	</div>
</div>
<!-- end together -->