.get-started
	padding: 57px 70px
	border-radius: 15px
	box-shadow: 0 20px 40px 0 rgba(107,154,212,0.10)
	overflow: hidden
	justify-content: space-between
	display: flex
	align-items: center
	background-color: $white
	&__content
		padding-right: 15px
	&__button
		position: relative
		.btn
			position: relative
			z-index: 1
		svg
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-63%,-50%)

